.container
{
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;

}
body{
    background-color: rgb(158, 134, 134);
}
*{
    padding: 0;
    margin:0;

}
.main-heading{
    color:brown;
    padding-bottom: 20px;

}
.hl{
    color:rgb(35, 91, 155);
}
.card
{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    border-radius: 15px;
    box-shadow:0px 4px 8px rgb(26, 14, 14);
    background-color: rgb(220, 177, 237);
    color: brown;

}
.img{
    width:170px;
    height:170px;
    border-radius: 50%;
    margin:10px 0px 10px 0px
}
.btn{
    display: flex;
    margin-top: 10px;
    gap:10px;

}
.b{
    border-radius: 5px;
    background-color: rgb(81, 156, 241);
    padding: 2px;
    
}
.list
{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    border-radius: 15px;
    box-shadow:0px 4px 8px rgb(26, 14, 14);
    background-color: rgb(220, 177, 237);
    color: rgb(14, 14, 14);
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotate {
    animation: rotate360 4s linear infinite;
}
.containerl{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;

}
